@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(211,97,53,1.00) 0%,rgba(82,58,52,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(211,97,53,1.00) 0%,rgba(82,58,52,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(211,97,53,1.00) 0%,rgba(82,58,52,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(211,97,53,1.00) 0.00%,rgba(82,58,52,1.00) 100%);
}
#wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #777DA7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper #header {
    background-color: #E8E9EB;
    height: 110px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 15px 30px;
    -webkit-box-shadow: 3px 6px 19px -2px;
    box-shadow: 3px 6px 19px -2px;
}
#wrapper #header #alignn {
    text-align: center;
}

#wrapper #header #img {
    float: left;
    padding-left: 0px;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 30px 30px;
}
